// out: false

//== COLORS
$green: #18775d;
$brown: #714300;
$beige: #f4ebe2;
$line: #dcdfe5;
$gray: #878f9d;
$text: #424446;

$primary: $green;
$body-bg: #fff;
$link-text: $green;
$link-hover-text: #139673;
$link-active-text: $brown;

//== FONTS
$heading-font: "IBM Plex Thai", sans-serif;
$heading-font-weight: 500;
$heading-line-height: 1.4;
$body-font: "IBM Plex Thai", sans-serif;
$body-line-height: 1.5;
$body-font-weight: 500;
